.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.container p{
    font-weight: 500;
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.container span{
    font-weight: bold;
    color: blueviolet;
}

.btn{
    width: 200px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    border:none;
    border-radius: 10px;
}

.btn-red{
    background-color: blueviolet;
    color: white;
}